# Rasa Specific Ignores
.rasa
.rasa/*

models
models/*
notebook_tests/*
e2e_coverage_results/*
actions\__pycache__/*

.env
.venv
.venv/*
.rasa-env
.rasa-env/*
.mcp-env
.mcp-env/*

tests/*.ipynb
tests/*.py